body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 5%;
}
.validation{
    position: absolute;
    z-index: 1000;
    width: auto;
    height: -webkit-fill-available;
    padding: 10px;
}
.page-item{
	margin: 2px;
}
.custom-badge {
	font-weight: 300;
    font-size: 0.8rem !important;
    color: #fff !important;
    /* background-color: #26a69a; */
    border-radius: 2px;
}
.ui-menu .ui-menu-item:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
    background-color: red;
    font-weight: bold;
}